services:
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: mpcs
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: karan143
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
